* {
    outline: none;
    box-sizing: border-box;
  }

  html,
body {
  position: relative;
  font: normal 14px Core Sans DS, Arial, Helvetica, sans-serif;
  line-height: normal;
  min-height: 100%;
  width: 100%;
  background: white;
  margin: 0;
}
.container {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 15px;
}
.d-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .flex-column {
    flex-direction: column;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-around {
    justify-content: space-around;
  }
  .text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
  }
  .circle {
    border-radius: 50%;
  }
  .circle-center {
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  .block-center {
    align-items: center;
    justify-content: center;
  }
  .items-center {
    align-items: center;
  }
  .items-start {
    align-items: flex-start;
  }
  .items-end {
    align-items: flex-end;
  }
  .content-start {
    align-content: flex-start;
  }
  .content-center {
    align-content: center;
  }
  .content-end {
    align-content: flex-end;
  }
  .transition {
    -webkit-transition: .3s linear all;
    -moz-transition: .3s linear all;
    -o-transition: .3s linear all;
    transition: .3s linear all;
  }
.header
{
    width:100%;
    background-color: #7f1d1d;
    position: fixed;
}
.header__inner
{
   width:100%;
}
.header__inner-text
{
    color:white;
    font-weight: bolder;
    text-transform: uppercase;
    margin-right: 40px;    
}
.menu__item
{
    height: 40px;
    align-items: center;
}
.menu__item-link
{
    color: white;
    text-decoration: none;
    padding: 0 20px;
    align-items: center;
    height: 100%;
}
.menu__item-link:hover
{
    background-color: #631616;   
}
.content
{
    width: 70%;
    padding: 5%;
    background-color: lightgray;
}
.article
{
    width:100%;
    background-color: lightgray;
    padding-top: 30px;
}
.article__inner
{
    width:100%;
    align-items: flex-start;
}

.article .article-info
{
    width: calc(100% - 250px);
    padding-right: 40px;
    
}
.article .article-author
{
    width:250px;
    padding: 15px;
    background-color: rgb(174, 173, 173);
    
}
.article-info__text
{
    width: 100%;
    border-top: rgb(143, 143, 143) solid 1px;
}
.author-table
{
    width: 100%;
}
.author-table__img
{
    width: 100%;
}
.author-table__title
{
    font-weight: bold;
    font-size: smaller;
    padding: 5px;
    vertical-align: top;
}
.author-table__value
{
    padding-left: 5px;
    padding-right: 5px;
    font-size: smaller;
}
.footer-table
{
    text-align: center;
    border: 1px solid rgb(131, 131, 131);
    padding: 10px;
    padding-bottom: 20px;
    width: 100%;
}
.footer-table tr
{
    width:100%;
}
.footer-table tr td
{
    width:calc(100% / 6);
    padding: 10px;
}
.footer-table tr td img
{
    width:100%;
}
.footer{
    width:100%;
    padding-bottom: 20px;
}
.footer-table__img
{
    width:100%;
    position: relative;
    height: 160px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-table__img-inner img
{
    object-fit: cover;
    max-height: 100%;
    width: 100%;
}
